<html>
<header>
    <button id="allTickets" (click)="allTickets()">All Tickets</button>
    <button id="logout" (click)="logout()">Logout</button>
</header>

<body>
    <div>
        <h1>Ticket ({{ticketId}}) - {{ticketName}}</h1>
    </div>

    <div id="instruction">
        <h1>Feedback: </h1>
    </div>
    <div class="rating">
        <span class="star" id="star5" [ngClass]="{'selected': rating >= 5}">☆</span>
        <span class="star" id="star4" [ngClass]="{'selected': rating >= 4}">☆</span>
        <span class="star" id="star3" [ngClass]="{'selected': rating >= 3}">☆</span>
        <span class="star" id="star2" [ngClass]="{'selected': rating >= 2}">☆</span>
        <span class="star" id="star1" [ngClass]="{'selected': rating >= 1}">☆</span>
    </div>
    <p class="error-message" *ngIf="!submitAttempted">Please fill out the required field</p>

    <div id="text" class="input-group">
        <textarea [(ngModel)]="text" class="form-control-big" aria-label="С текстовым полем" disabled=""></textarea>
    </div>

</body>

</html>